<body>
<div class="masthead">
  <div class="row-fluid">
    <div class="heading-container span8">
      <h1>Brick</h1>
      <h3>A platform for friends to help develop your start up</h3>
    </div>
    <div class="span4">
      <div class="balloon-container">
        <div class="row-fluid">
          <div class="span10 offset1">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSM8H_L8TiVLuc7XBwrJJm7Cmsf2J0dbUfsBbPUmHqx4rOGQapdVQ"/>
          <button>Give Feedback</button>
          </div>
        </div>
      </div>
    </div> 	
  </div>
</div>
<div class="diagram-container">
  <div class="row-fluid">
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/82549/blue_circle.png" />
      </div>
      <p>This is the copy</p>
    </div>
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/82549/blue_circle.png" />
      </div>
      <p>This is the copy</p>
    </div>
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/82549/blue_circle.png" />
      </div>
      <p>This is the copy</p>
    </div>  
  </div>  
</div>
</body>