<body>
<div class="masthead">
  <div class="row-fluid">
    <div class="heading-container span8">
      <h1>Brick</h1>
      <h3>A platform for friends to help develop your startup</h3>
    </div>
    <div class="span4">
      <div class="balloon-container">
        <div class="row-fluid">
          <div class="span10 offset1">
            <div class="balloon-size">
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSM8H_L8TiVLuc7XBwrJJm7Cmsf2J0dbUfsBbPUmHqx4rOGQapdVQ"/>
              <div class="button-holder"> 
                <a class="btn button-feedback" href="/surveys/1">Give Feedback</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 	
  </div>
</div>
<div class="diagram-container">
  <div class="row-fluid">
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/48763/3-plait_border_circle.png" />
      </div>
      <p>You have an idea for a startup, you have put together a prototype and now you want some early feedback.</p>
    </div>
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/48763/3-plait_border_circle.png" />
      </div>
      <p>So you tap into your network of friends and peers.</p>
    </div>
    <div class="span4">
      <div class="img-resize">
        <img src="http://openclipart.org/image/250px/svg_to_png/48763/3-plait_border_circle.png" />
      </div>
      <p>Brick provides the platform for them to share their feedback and engage with your idea in a meaningful way.</p>
    </div>  
  </div>  
</div>
</body>