<div class="row-fluid">
  <div class="span6 offset3">
    <div class="survey-container">
      <div class="survey-question" id="survey-question-lead">
        1) How do you currently solicit feedback from friends on your startup?
      </div>
      <div class="answer-options">
        Talk to them about the idea over the phone
      </div>
      <div class="answer-options">
        I email a link to them and ask for feedback
      </div>
      <div class="answer-options">
        I meet with them
      </div>
      <div class="answer-options">
        I ask for comments on Facebook
      </div>
      <div class="answer-options">
        Other
      </div>
      <div class="survey-question">
        2) Would you use Brick to generate feedback from your friends?
      </div>
      <div class="row" id="answer-yn">
        <div class="answer-options-yn">
          Yes
        </div>
        <div class="answer-options-yn">
          No
        </div>
      </div>
      <div class="survey-question">
        3) How much would you pay to use Brick?
      </div>
      <div class="row" id="answer-yn">
        <div class="answer-options-yn">
          $0
        </div>
        <div class="answer-options-yn">
          $5
        </div>
        <div class="answer-options-yn">
          $10
        </div>
        <div class="answer-options-yn">
          $20
        </div>
        <div class="answer-options-yn">
          >$20
        </div>
      </div>
      <div class="button-holder">
        <div class="btn btn-large btn-submit">
          Submit
        </div>
      </div>
    </div>
  </div>
</div>