<!--set for light background 
<div class="color-set-optional"> 
-->
<div class="survey-special-container">
  <div class="row-fluid">
    <div class="span8 offset2">
      <div class="survey-builder-container">
        <h1 id="survey-header">Brick Survey</h1>
        <div class="survey-intro-container">
          <a href="/home">
            <img class="screenshot-img" src="/assets/brick_screenshot3.png">
          </a>
        </div>
        <div class="survey-qa-container">
          <ol class="questions">
          <% @survey.questions.each do |question| %>
            <li>
              <%= question.content %>
              <ol class="answers">
                <% question.answers.each do |answer| %>
                  <li><%= answer.content %></li>
                <% end %>
              </ol>
            </li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

  
  </div>
  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'Back to Surveys', surveys_path %>
</div>
