@import "bootstrap";
@import "bootstrap-responsive";


/* GENERAL SETTINGS */


body {
	color: rgb(85, 85, 85);
	background-color: #0073AA;
	background-repeat: no-repeat;
}


/* SURVEY */


#survey-container {
    margin: 60px 20px 0px 20px;
	padding: 20px 15px;
	background-color: #FFFFE0;
	background-repeat: no-repeat;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 5px 0 #BCBCBC;
	 -moz-box-shadow: 0 1px 5px 0 #BCBCBC;
	      box-shadow: 0 1px 5px 0 #BCBCBC;
}

#survey-question-lead {
	margin-top: 0px;
}

.survey-question {
	margin-top: 20px;

}

.answer-options {
    margin-top: 10px;
    text-indent: 25px;
}

.answer-options-yn {
	float: left;
	margin-top: 10px;
	margin-right: 30px;
}

#answer-yn {
	margin-left: 25px;
}


/* HOME PAGE */


.masthead {
	padding: 30px;
	h1 {
		text-shadow: 3px 3px #333;
		text-align: center;
		margin-top: 75px;
		margin-bottom: 30px;
		font-size: 100px;
		color: #FF7F50;
	}
	h3 {
		text-align: center;
		color: #FFFFE0;
		text-shadow: 2px 2px #333;
	}
}

.heading-container {
	margin-top: 50px;

}

.balloon-container {
	padding: 10px;
	margin: 20px;
		img {
		display: block;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

.balloon-size {
	img {
		width: 150px;
		height: auto;
	}
}

.diagram-container {
	padding: 50px 70px 70px 70px;
	background-color: #FFFFE0;
	background-repeat: no-repeat;
	p {
		font-size: 20px;
		line-height: 150%;
		margin-left: 50px;
		margin-right: 25px;
		margin-bottom: 50px;
	}
}

.img-resize {
	img {
		margin-bottom: 20px;
		width: 150px;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.button-feedback {
	background: #8B0000;
	color: #FFFFE0;
	padding: 14px;
	margin-top: 10px;
	font-size: 20px;
	text-shadow: 0px 0px #333;
	box-shadow: 1px 2px 2px 1px #333;
}

.button-feedback:hover {
	background-color: #2E8B57;
	color: #FFFFE0;
}

.button-holder {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-submit {
    padding: 15px 25px;
}


/* SURVEY RESULTS */


#results-page-container {
	margin: 60px 50px 60px 50px;
}

.results-header {
	text-align: center;
	margin-bottom: 20px;
}

#results-section-container {
	padding: 20px 15px;
	background-color: #FFFFE0;
	background-repeat: no-repeat;
	border-radius: 6px;
}

#survey-results-container {
	font-size: 16px;
}

.survey-result-answer {
	margin-top: 15px;
}


/* SURVEY BUILDER */


.survey-builder-container {
	font-size: 15px;
	margin: 60px 20px 60px 20px;
	background-color: #FFFFE0;
	background-repeat: no-repeat;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 5px 0 #BCBCBC;
	 -moz-box-shadow: 0 1px 5px 0 #BCBCBC;
	      box-shadow: 0 1px 5px 0 #BCBCBC;
}

.questions {
  	list-style: none;
  	font-weight: bold;
  	margin: 0;
  	padding: 0;
  	> li {
    	margin: 20px 0;
    	padding: 0;
  	}
}

.answers {
  	list-style: upper-alpha;
  	font-weight: normal;
  	margin: 0;
  	padding: 0;
  	> li {
    	margin: 5px 0;
    	margin-left: 25px;
  	}
}

form > fieldset {
	border: none;
  	border: solid 1px #CCC;
  	padding: 10px 15px;
  	margin: 15px 0;
  	fieldset {
    	border: none;
    	margin: 0;
    	margin: 10px 0;
    	padding: 0;
  }
}

textarea {
  	height: 40px;
  	width: 350px;
  	margin-top: 3px;
}

.survey-intro-container {
	border-bottom: solid 1px #CCC;
	padding: 15px 20px 15px 20px;
}

.startup-name {
	color: #FF7F50;
	margin: 0px;
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
}

.startup-subtitle {
	color: #0073AA;
	font-size: 18px;
}

.survey-qa-container {
	padding: 0px 15px 20px 15px;
}

.site-link {
	font-size: 24px;
	color: #2E8B57;

}

.site-link-container {
	text-align: center;
	line-height: 60px;
}