@import "bootstrap";
@import "bootstrap-responsive";

/* GENERAL SETTINGS */

body {
	color: rgb(85, 85, 85);
	background-color: #0073AA;
	background-repeat: no-repeat;
}

/* SURVEY */

#survey-container {
    margin: 60px 20px 0px 20px;
	padding: 20px 15px;
	background-color: #FDFDCC;
	background-repeat: no-repeat;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 5px 0 #BCBCBC;
	 -moz-box-shadow: 0 1px 5px 0 #BCBCBC;
	      box-shadow: 0 1px 5px 0 #BCBCBC;
}

#survey-question-lead {
	margin-top: 0px;
}

.survey-question {
	margin-top: 20px;

}

.answer-options {
    margin-top: 10px;
    text-indent: 25px;
}

.answer-options-yn {
	float: left;
	margin-top: 10px;
	margin-right: 30px;
}

#answer-yn {
	margin-left: 25px;
}

.button-holder {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-submit {
    padding: 15px 25px;
}

/* SURVEY RESULTS */

#results-page-container {
	margin: 60px 50px 60px 50px;
}

.results-header {
	text-align: center;
	margin-bottom: 20px;
}

#results-section-container {
	padding: 20px 15px;
	background-color: #FFFFE0;
	background-repeat: no-repeat;
	border-radius: 6px;
}

#survey-results-container {
	font-size: 16px;
}

.survey-result-answer {
	margin-top: 15px;
}